<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <meta name=Generator content="Microsoft Word 15 (filtered)">
    <style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Cordia New";
	panose-1:2 11 3 4 2 2 2 2 2 4;}
@font-face
	{font-family:Tunga;
	panose-1:0 0 4 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
.MsoChpDefault
	{font-family:"Calibri",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
@page WordSection1
	{size:595.3pt 841.9pt;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
-->
</style>

</head>

<body lang=EN-US style='word-wrap:break-word'>

<div class=WordSection1>

    <p class=MsoNormal><span style='position:relative;z-index:251659264'><span
            style='position:absolute;left:58px;top:-15px;width:481px;height:75px'><img
            width=481 height=75 src="LSCS%20ಒಲಿಗೊ_files/image001.png"
            alt="ಶ್ರೇಯಾ  ಆಸ್ಪತ್ರೆ &#13;&#10;ಭಾವಸಾರನಗರ, ದಗಾ೯ರಸ್ತೆ. ವಿಜಯಪುರ&#13;&#10;"></span></span><span
            lang=EN-IN style='font-family:"Tunga",sans-serif'>&nbsp;</span></p>

    <p class=MsoNormal><span lang=EN-IN style='font-family:"Tunga",sans-serif'>&nbsp;</span></p>

    <br clear=ALL>

    <p class=MsoNormal><span lang=EN-IN style='font-family:"Tunga",sans-serif'>ಒಳ ರೋಗಿ
{{patientNumber}} ದಿನಾಂಕ; {{reportDate}}</span></p>

    <p class=MsoNormal align=center style='text-align:center'><span lang=EN-IN
                                                                    style='font-family:"Tunga",sans-serif'>ತುತು೯ ಸಿಜೇರಿಯನ್ ಶಸ್ತ್ರ ಚಿಕಿತ್ಸೆಗಾಗಿ ನೀಡುತ್ತಿರುವ
ಒಪ್ಪಿಗೆ ಪತ್ರ—</span></p>

    <p class=MsoNormal><span lang=EN-IN style='font-family:"Tunga",sans-serif'>ನಾನು
{{patientName}} ಗಂಡ {{patientHusbandName}} ವಯಸ್ಸು –{{age}} ವಷ೯ {{patientBirthYear}} {{town}}ಗ್ರಾಮ / ಪಟ್ಟಣದ ರಹವಾಸಿಯಾಗಿದ್ದು ನನ್ನ ಸಂಪೂಣ೯ ಜ್ಞಾನ ಮತ್ತು
ತಿಳುವಳಿಕೆಯಿಂದ ಈ ಮೂಲಕ ಘೋಶಿಸುವದೇನಂದರೆ .</span></p>

    <p class=MsoNormal><span lang=EN-IN style='font-family:"Tunga",sans-serif'>ದಿನಾಂಕ---ರಂದು
-- ಗಂಟೆಗೆ ನಾನು / ನಾವು ಸ್ವಯಂ ಪ್ರೇರಣೆಯಿಂದ ಶ್ರೇಯಾ ಆಸ್ಪತ್ರೆಗೆ ಬಂದ ಮೇಲೆ ಈ ಆಸ್ಪತ್ರೆಯ
ಡಾ|| {{doctorName}}ರವರಿಗೆ ನಾನು - ನನ್ನ ಮದುವೆಯಾಗಿ {{numberOfMarriageYear}}ಗಳಾಗಿದೆ ಎಂದೂ , ನಾನು /ನನ್ನ
ಮಗಳು {{patientName}}  {{monthOfPregnancy}}ತಿಂಗಳ ಗಭಿ೯ಣಿ ಇದ್ದು ಇದು ನನ್ನ/ಅವಳ {{pregnancyCount}} ಗಭ೯ಧಾರಣೆಯಾಗಿದೆ, ನನ /ಅವಳಿಗೆ ಈಗ – {{numberOfMaleChild}} ಗಂಡು {{numberOfMaleChild}} ಹೆಣ್ಣು
ಒಟ್ಟು {{totalNumChild}} ಜೀವಂತ ಮಕ್ಕಳು ಇದ್ದಾರೆ . ಈ ಮೊದಲಿನ ಹೆರಿಗೆಯು {{lastPregnancy}} ವಷ೯ಗಳ ಹಿಂದೆ, ಸಹಜ/ ಸಿಜೇರಿಯನ್‌
ಗಿತ್ತು, ನನಗೆ ಇಂದು ಮುಂಜಾನೆ / ಸಂಜೆಯಿಂದ ಹೆರಿಗೆ ನೋವು ಕಾಣಿಸಿಕೊಂಡು{{hourToPainSeen}} ಗಂಟೆಗಳಾಗಿದೆ . ಎಂಬ
ವಿಷಯ ವೈದ್ಯರಿಗೆ ತಿಳಿಸಿದ್ದೇನೆ . ಈ ಮೊದಲು ನಾನು {{patientName}} ವೈದ್ಯರಲ್ಲಿ ಚಿಕಿತ್ಸೆ ಪಡೆಯುತಿದ್ದ ಮಾಹಿತಿ
ವೈದ್ಯರಿಗೆ ಹೇಳಿದ್ದೆನೆ .</span></p>

    <p class=MsoNormal><span lang=EN-IN style='font-family:"Tunga",sans-serif'> ಡಾ||
ಶಿವಕುಮಾರ ರವರು ತಮ್ಮ ಆಸ್ಪತ್ರೆಯ ಮಹಿಳಾ ಸಿಬ್ಬಂಧಿ ಜೊತೆ ನನ್ನನ್ನು ದೈಹಿಕ ಮತ್ತು ಜನನಾಂಗ ಮಾಗ೯
ಪರೀಕ್ಷಿಸಿದರು, ಗಭ೯ದಲ್ಲಿರುವ ಶಿಶುವಿನ ಹೃದಯದ ಮಿಡಿತ ಸಹಜವಾಗಿ ಸಹಜ ಹೆರಿಗೆಯ ಸಾಧ್ಯತೆ ಇದೆ, ಎಂದು
ಹೇಳಿ, ಸಹಜ ಹೆರಿಗೆ ಮಾಡಲು ಪ್ರಯತ್ನಿಸಬಹುದು ಎಂದು ತಿಳಿಸಿದ್ದಾರೆ , ಆದರೂ ಶಿಶು ಗಭ೯ಕೋಶದಲ್ಲಿ
ಕೆಳಗಡೆ ಸರಿದಿರುವ ನಿಖರ ಮಾಹಿತಿ ಪಡೆಯಲು ಯುಎಸ್‌ಜಿ ಸ್ಕ್ಯಾನ್‌ ಮಾಡುವುದು ಉತ್ತಮ ಎಂದು ಸಲಹೆ ನೀಡಿದರು
. ನಾನು / ನಾವು ಸ್ಕ್ಯಾನ್‌ ಮಾಡಲು ಒಪ್ಪಿಗೆ ನೀಡಿದೆವು . ನಾವು ಬಂದ ಕೆಲ ನಿಮಿಷಗಳಲ್ಲೆ ಸ್ಕ್ಯಾನ್‌
ಮಾಡಿ ಗಭ೯ಕೋಶದಲ್ಲಿ ಶಿಶು ಸಹಜ ಹೃದಯ ಮಿಡಿತ ಹೊಂದಿರುವುದಾಗಿ ತಿಳಿಸಿದರು . ಮಗುವಿನ ಶಿರ ನನ್ನ ಸೊಂಟದ
ಮಟ್ಟದಿಂದ ಕೆಳಗೆ ಸರಿದಿರುವುದರಿಂದ ಸಹಜ ಹೆರಿಗೆಯ ಸಾಧ್ಯತೆ ತಳ್ಳಿ ಹಾಕಲಾಗದು ಎಂದು ಹೇಳಿದ್ದಾರೆ
.  ಆದರೆ ಅಮ್ನಿಯಾಟಿಕ್‌ ದ್ರವ( ನೆತ್ತಿ ನೀರು)ತೀರ ಕಡಿಮೆಯಾಗಿದರುವುದರಿಂದ, ಸಹಜ ಹೆರಿಗೆಯು  ಕಷ್ಟ,
ಜೊತೆಗೆ ಶಿಶು ಉಸಿರುಗಟ್ಟುವ ಸಾಧ್ಯತೆ ಸಹ ಹೆಚ್ಚು ಎಂದೂ ಸಹ ತಮ್ಮ ಅಭಿಪ್ರಾಯ ಹೇಳಿದ್ದಾರೆ .</span></p>

    <p class=MsoNormal><span lang=EN-IN style='font-family:"Tunga",sans-serif'>  ನನ್ನ
ಮತ್ತು ಶಿಶುವಿನ ಹಿತದೃಷ್ಟಿಯಿಂದ, ಸಹಜ ಹೆರಿಗೆಗಿಂತ ಸಿಜೇರಿಯನ್‌ ಸುರಕ್ಷಿತ ಎನಿಸಿದೆ, ಸಹಜ ಹೆರಿಗೆ
ಇನ್ನೂ ತಡವಾದರೆ ಗಭ೯ದೊಳಗಿನ ಶಿಶು ಮರಣ ಹೊಂದುವ ಸಾಧ್ಯತೆ ಇರುವ ಕುರಿತು ಹೇಳಿದ್ದಾರೆ. ಆದ್ದರಿಂದ
ನಾನು/ನಾವು ತುತು೯ ಸಿಜೇರಿಯನ್‌ ಶಸ್ತ್ರ ಚಿಕಿತ್ಸೆಯ ಮೂಲಕ ಹೆರಿಗೆ ಮಾಡಿಸಿಕೊಳ್ಳಲು ನಿಧ೯ರಿಸಿದ್ದೇನೆ
.  </span></p>

    <p class=MsoNormal><span lang=EN-IN style='font-family:"Tunga",sans-serif'> ಆದರೂ
ಎಷ್ಟೇ ಅವಸರದಿಂದ ಶಸ್ತ್ರ ಚಿಕಿತ್ಸೆ ಮಾಡಿ ಶಿಶು ಹೊರ ತೆಗೆಯುವ ತನಕ, ವಿರಳ ಸಂದಭ೯ಗಳಲ್ಲಿ, ಗಭ೯ದಲ್ಲಿ
ಶಿಶು ಉಸಿರುಗಟ್ಟುವುದು, ತಡವಾದ ಶಿಶು ಕೆಳ ಸರಿಯುವಿಕೆ, ಗಭ೯ಕೋಶದ ನಿಷ್ಕ್ರೀಯತೆ, ಗಭ೯ದ ನೀರಿನ ಚೀಲ
ಒಡೆಯುವುದು , ಗಭ೯ದ ಮಾಸ್‌ ( ಪ್ಲೆಸೆಂಟಾ) ಹೆರಿಗೆಯ ಮೊದಲೇ ಬೇಪ೯ಡೆಯಾಗುವುದು, ಶಿಶುವಿನ ಕೊರಳಿನ
ಸುತ್ತ ಹೊಕ್ಕುಳ ಬಳ್ಳಿ ಸುತ್ತಿಕೊಳ್ಳುವುದು ಎಂಬಂತಹ ಸಮಸ್ಯೆಗಳು ಕಂಡು ಬರಬಹುದು ಎಂದು ತಿಳಿಸಿದ್ದಾರೆ
. </span></p>

    <p class=MsoNormal><span lang=EN-IN style='font-family:"Tunga",sans-serif'> ವೈದ್ಯರು
ಮುಂದುವರೆದು ಈ ಶಸ್ತ್ರ ಚಿಕಿತ್ಸೆ ಮಾಡಲು, ಬೆನ್ನು ಹುರಿಯ ಅರಿವಳಿಕೆಯ ಅಗತ್ಯವಿದೆ ಎಂದು ಹೇಳಿದ್ದಾರೆ,
ಅರಿವಳಿಕೆಯನ್ನು ನೀಡಲು ಈ ಅಸ್ಪತ್ರೆಗೆ ಅರಿವಳಿಕೆ ಚಿಕಿತ್ಸೆ ನೀಡಲು ೦ ವಷ೯ ಅನುಭವ ಇರುವ ಡಾ||---
ರವರು ಬರುವುದಾಗಿ ಹೇಳಿದ್ದಾರೆ . ಬೆನ್ನು ಹುರಿಯ ಮೂಲಕ ನೀಡುವ ಅರಿವಳಿಕೆಗೆ ಮುನ್ನ ಪೂವ೯ತಯಾರಿಯಾಗಿ
ಅಟ್ರೋಪೈನ್‌, ಲಘು ಮಂಪರು ಬರಿಸುವ ಔಷಧಿ ಮತ್ತು ಅರಿವಳಿಕೆಗೆ </span><span lang=KN
                                                                style='line-height:107%;font-family:"Tunga",sans-serif'>ಅರಿವಳಿಕೆಯಾಗಿ ಬ್ಯೂಪಿವೋಕೇನ್‌</span><span
            lang=EN-IN style='line-height:107%;font-family:"Tunga",sans-serif'>, </span><span
            lang=KN style='line-height:107%;font-family:"Tunga",sans-serif'>೪% ಲಿಗ್ನೊಕೇನ್</span><span
            lang=KN style='font-family:"Tunga",sans-serif'> </span><span lang=EN-IN
                                                                         style='font-family:"Tunga",sans-serif'>ಎಂಬ ಔಷಧ ಬಳಸುತ್ತಿರುವುದಾಗಿ ತಿಳಿಸಿದ್ದಾರೆ . ಈ
ಎಲ್ಲ ಔಷದಗಳು ಅರಿವಳಿಕೆ ನೀಡುವ ಪ್ರಾರಂಭಿಕ ಹಂತದಲ್ಲೆ ಹೃದಯ ಸ್ಥಂಬನ, ನರಾಂಗ ವ್ಯುಹದ ಆಘಾತ, ದೇಹದ
ವ್ಯತಿರಿಕ್ತ ಪ್ರತಿಕ್ರೀಯೆ(ಮಾರಣಾಂತಿಕ ಅಲಜಿ೯) ಹಾಗೂ ಅರಿವಳಿಕೆಯಿಂದ ವಾಪಸಾತಿ ತಡವಾಗಬಹುದು, ಅಥವಾ
ತಾತ್ಕಾಲಿಕವಾಗಿ ವಾಸಸಾತಿ ಸಾಧ್ಯವಾಗದೇ ಇರಬಹುದು, ಅಥವಾ ಶಾಶ್ವತ ಪ್ರಜ್ಞಾಹೀನತೆಯೂ ಸಹ, ವಿರಳ ಪ್ರಕರಣಗಳಲ್ಲಿ
ಕಂಡು ಬರುವುದಾಗಿ ವಿವರಿಸಿದ್ದಾರೆ , </span><span lang=KN style='line-height:107%;
font-family:"Tunga",sans-serif'>ಬೆನ್ನು ಹುರಿಯ ಅರಿವಳಿಕೆ ನೀಡುವುದರಿಂದ ಕೆಲ
ಪ್ರಕರಣಗಳಲ್ಲಿ ಮುಂದಿನ ದಿನಗಳಲ್ಲಿ ಬೆನ್ನು ನೋವು ಬರುವ ಸಾಧ್ಯತೆ ಇರುವ ಕುರಿತು ತಿಳಿಸಿದ್ದಾರೆ</span></p>

    <p class=MsoNormal><span lang=EN-IN style='font-family:"Tunga",sans-serif'> ಶಸ್ತ್ರ
ಚಿಕಿತ್ಸೆಯ ಸಮಯದಲ್ಲಿ ಹೃದಯ ಸ್ಥಂಬನ, ರಕ್ತಸ್ರಾವದ ಆಘಾತ, ಅಮ್ನಿಯಾಟಿಕ್‌ ದ್ರವ-ಗಾಳಿ(ಅನಿಲ) ಎಂಬಾಲಿಸಂ
</span><span lang=KN style='line-height:107%;font-family:"Tunga",sans-serif'>ಡಿಸ್ಸೆಮಿನೇಟೆಡ್‌
ಇಂಟ್ರಾ ವ್ಹ್ಯಾಸ್ಕ್ಯುಲಾರ್‌ ಕೋ ಆಗುಲೇಷನ್(</span><span lang=KN style='line-height:
107%;font-family:"Tunga",sans-serif'> </span><span lang=KN style='line-height:
107%;font-family:"Tunga",sans-serif'>ಡಿ ಐ ಸಿ)</span><span lang=EN-IN
                                                          style='line-height:107%;font-family:"Tunga",sans-serif'>,</span><span
            lang=EN-IN style='font-family:"Tunga",sans-serif'> ನಂತಹ ಮಾರಣಾಂತಿಕ ಸಮಸ್ಯೆಗಳು ಕಂಡುಬರಬಹುದು,ಈ
ಸಿಜೇರಿಯನ್‌ ಹೆರಿಗೆಯು ಮೊದಲಿನ ಸಿಜೇರಿಯನ್‌ ನಂತರದ್ದಾದುದರಿಂದ, ಹೊಟ್ಟೆಯ ಒಳಾವರಣದಲ್ಲಿ ಕರುಳಿನ
ಸುರುಳಿಗಳು ಒಂದುದನ್ನೊಂದು ಅಂಟಿಕೊಂಡಿರುವ ಸಾಧ್ಯತೆ ಇದೆ, ಇದರಿಂದ ಅಡ್ಡ ಪರಿಣಾಮಗಳ ಸಾಧ್ಯತೆಯು
ಹೆಚ್ಚು ಎಂದು ತಿಳಿಸಿದ್ದಾರೆ. ಇನ್ನೂ ಕೆಲ ಪ್ರಕರಣಗಳಲ್ಲಿ ಅಕಸ್ಮಿಕವಾಗಿ ಕರುಳಿನ, ಮೂತ್ರನಳಿಕೆ
(ಯುರೇಟರ್), ಮೂತ್ರಕೋಶದ ( ಬ್ಲಾಡರ್), ಗಾಯಗಳು, ಶಸ್ತ್ರ ಚಿಕಿತ್ಸೆಯ ನಂತರದ ಕೆಲ ಗಂಟೆಗಳವರೆಗೆ
ಗಭ೯ಕೋಶದ ತೀವ್ರ ರಕ್ತ ಸ್ರಾವ ( ಪೋಸ್ಟ್-ಪಾಟ೯ ಹೆಮೊರ್ಹೇಜ್) ತಡೆಯಲು ಗಭ೯ಕೋಶ ತೆಗೆದು ಹಾಕಬೇಕಾಗುವ
ಸಂದಭ೯ವೂ ಕೆಲ ಪ್ರಕರಣಗಳಲ್ಲಿ ಉಂಟಾಗಬಹುದು. ಶಸ್ತ್ರ ಚಿಕಿತ್ಸೆಯ ನಂತರದ ಅವಧಿಯಲ್ಲಿ, ಹೊಟ್ಟೆಯ ಒಳಾವರಣದ(
ಪೆರಿಟೋನೈಟಿಸ್)‌ ಉರಿಯೂತ, ಶಸ್ತ್ರಚಿಕಿತ್ಸೆಯ ಗಾಯದ ಸೋಂಕು , ಶಸ್ತ್ರ ಚಿಕಿತ್ಸೆಯ ಗಾಯ ವಿಳಂಬವಾಗಿ
ವಾಸಿಯಾಗಬಹುದು, ಕರುಳಿನ ಊತಗಳು ( ಪೆರಾಲೈಟಿಕ್‌ ಐಲಿಯಾಸ್)‌ ಮೂತ್ರನಾಳ ಮತ್ತು ಯೋನಿ ಮಾಗ೯ದ ನಡುವೆ
ಕಿಂಡಿಗಳಾಗಿ ಯೋನಿಯ ಮೂಲಕ ಮೂತ್ರ ಸೋರುವುದು ( ವೆಸೈಕೋ-ವೆಜೈನಲ್‌ ಫಿಸ್ಟುಲಾ), ದೀಘ೯ಕಾಲದಲ್ಲಿ ಕರುಳಿನ
ಸುರುಳಿಗಳು ಒಂದಕ್ಕೊಂದು ಅಂಟಿಕೊಳ್ಳುವಿಕೆ, ಅದರಿಂದ ಅವುಗಳಲ್ಲಿ ತೊಡಕುಂಟಾಗಿ ( ಆಬ್ಸ್ಟ್ರಕ್ಷನ್)
ಜೀಣ೯ ಕ್ರೀಯೆಯಲ್ಲಿ ವ್ಯತ್ಯಾಸದಿಂದ ಅಪೌಷ್ಟಿಕತೆ, ಕುಗ್ಗಿದ ರೋಗ ನಿರೋಧಕ ಶಕ್ತಿ, ಕರುಳು ಒಂದರೊಳಗೊಂದು
ತೂರಿಕೊಂಡು ಅವುಗಳ ಊತ( ಇಂಟುಸಸೆಪ್ಷನ್)‌, ತಾತ್ಕಾಲಿಕ / ಶಾಶ್ವತ ಬಂಜೆತನದಂತಹ ಅಡ್ಡ ಪರಿಣಾಮಗಳು
ವಿರಳ ಪ್ರಕರಣಗಳಲ್ಲಿ ಕಂಡು ಬರುವ ಕುರಿತು ವಿವರಿಸಿದ್ದಾರೆ . </span></p>

    <p class=MsoNormal><span lang=EN-IN style='font-family:"Tunga",sans-serif'> ಈ ಶಸ್ತ್ರ
ಚಿಕಿತ್ಸೆಯ ನಂತರ, ಮುಂದಿನ ದಿನಗಳಲ್ಲಿ ಗಭ೯ಧಾರಣೆಯಾದಲ್ಲಿ ಸಹಜ ಹೆರಿಗೆಗಿಂತ ಸಿಜೇರಿಯನ್‌ ಶಸ್ತ್ರ
ಚಿಕಿತ್ಸೆ ಅನಿವಾರ್ಯವಾಗುವ ಸಾಧ್ಯತೆ ಹೆಚ್ಚಾಗುತ್ತದೆ ಎಂಬ ವಿಷಯ ಹೇಳಿದ್ದಾರೆ . </span></p>

    <p class=MsoNormal><span lang=EN-IN style='font-family:"Tunga",sans-serif'> ಈ ಮೇಲೆ
ವಿವರಿಸಿದ ಯಾವುದೆ ಅಡ್ಡ ಪರಿಣಾಮ ಕಂಡುಬರದಿದ್ದಲ್ಲಿ, ಶಸ್ತ್ರ ಚಿಕಿತ್ಸೆಯ ನಂತರ ಕನಿಷ್ಟ ೫-೭ ದಿನಗಳವರೆಗೆ
ಆಸ್ಪತ್ರೆಯ ವಾಸ ಬೇಕಾಗಬಹುದು, ಈ ಶಸ್ತ್ರ ಚಿಕಿತ್ಸೆಯಿಂದ ದಿನ ನಿತ್ಯದ ಚಟುವಟಿಕೆಗೆ ಮರಳಲು ಕನಿಷ್ಟ
೪-೬ ವಾರಗಳ ಅವಧಿ ಬೇಕಾಗುತ್ತದೆ , ಮತ್ತು --- ರೂಪಾಯಿ ಅಂದಾಜು ವೆಚ್ಚ ಬರಬಹುದು ಎಂದು ತಿಳಿಸಿದ್ದಾರೆ
.</span></p>

    <p class=MsoNormal><span lang=EN-IN style='line-height:107%;font-family:"Tunga",sans-serif'> 
</span><span lang=KN style='line-height:107%;font-family:"Tunga",sans-serif'>ಶಿಶು
ಜೀವಂತ ಜನಿಸಿದ ನಂತರ ಅದರ ವೈದ್ಯಕೀಯ ಪರೀಕ್ಷೆಗೋಸ್ಕರ ಮಕ್ಕಳ ತಜ್ಞರು ಮತ್ತು ಕಣ್ಣಿನ
ತಜ್ಞರನ್ನು ಕರೆಯಿಸುವುದು ವಾಡಿಕೆ ಎಂಬ ಮಾಹಿತಿ ನಮಗೆ ಹೇಳಿದ್ದಾರೆ .</span></p>

    <p class=MsoNormal><span lang=EN-IN style='line-height:107%;font-family:"Tunga",sans-serif'> </span><span
            lang=KN style='line-height:107%;font-family:"Tunga",sans-serif'>ಈ ಮೇಲೆ ವಿವರಿಸಿದ
ವಿವರಗಳನ್ನು ನಾನು/ವು ಬಲ್ಲ ಕನ್ನಡ</span><span lang=KN style='line-height:107%;
font-family:"Tunga",sans-serif'> </span><span lang=KN style='line-height:107%;
font-family:"Tunga",sans-serif'>ಭಾಷೆಯಲ್ಲಿ </span><span lang=EN-IN
                                                       style='line-height:107%;font-family:"Tunga",sans-serif'>ವೈದ್ಯರಿಂದ, ಕೇಳಿ, ತಿಳಿದು,
</span><span lang=KN style='line-height:107%;font-family:"Tunga",sans-serif'>ಬರೆಯಿಸಿ</span><span
            lang=EN-IN style='line-height:107%;font-family:"Tunga",sans-serif'>, </span><span
            lang=KN style='line-height:107%;font-family:"Tunga",sans-serif'>ಓದಿಸಿ</span><span
            lang=EN-IN style='line-height:107%;font-family:"Tunga",sans-serif'>, </span><span
            lang=KN style='line-height:107%;font-family:"Tunga",sans-serif'>ಕೇಳಿ ತಿಳಿದು </span><span
            lang=EN-IN style='line-height:107%;font-family:"Tunga",sans-serif'>ಸಂಪೂಣ೯ ಪ್ರಜ್ಞೆಯಿಂದ,
</span><span lang=KN style='line-height:107%;font-family:"Tunga",sans-serif'>ನಾನು
/ವು ---- </span><span lang=EN-IN style='line-height:107%;font-family:"Tunga",sans-serif'>ತುತು೯
ಸಿಜೇರಿಯನ್‌ </span><span lang=KN style='line-height:107%;font-family:"Tunga",sans-serif'>ಶಸ್ತ್ರ
ಚಿಕಿತ್ಸೆಗೆ ಇಂದು ದಿನಾಂಕ --- ರಂದು ನನ್ನ/ಮ್ಮ ಒಪ್ಪಿಗೆ ನೀಡಿದ್ದೇನೆ/ವೆ . </span></p>

    <p class=MsoNormal><span lang=EN-IN style='font-family:"Tunga",sans-serif'>ರೋಗಿ
/ ಒಪ್ಪಿಗೆ ಕೊಡುವವರ ಹೆಸರು ;                   ಸಹಿ; </span></p>

    <p class=MsoNormal><span lang=EN-IN style='font-family:"Tunga",sans-serif'>  ಆಧಾರ
ಸಂಖ್ಯೆ ;       ಒಪ್ಪಿಗೆ ಕೊಡುವವರ ಮೊಬೈಲ್‌ ಸಂಖ್ಯೆ; </span></p>

    <p class=MsoNormal><span lang=EN-IN style='font-family:"Tunga",sans-serif'>ಸಾಕ್ಷಿದಾರರ
ಹೆಸರು ;               ಸಹಿ</span></p>

    <p class=MsoNormal><span lang=EN-IN style='font-family:"Tunga",sans-serif'>ದಿನಾಂಕ
;  </span></p>

    <p class=MsoNormal><span lang=EN-IN style='font-family:"Tunga",sans-serif'>ಸ್ಥಳ
; ಶ್ರೇಯಾ ಆಸ್ಪತ್ರೆ ವಿಜಯಪುರ</span></p>

    <p class=MsoNormal><span lang=EN-IN>&nbsp;</span></p>

</div>

</body>

</html>
